{% extends 'base.html' %}
  {% block content %}
    <!--main content start-->
    <section id="main-content" >
        <section class="wrapper">
           
            
          

            <div class="row">
           

            <div class="col-lg-12">
            <!--tab nav start-->
            <section class="panel">
                <header class="panel-heading tab-bg-dark-navy-blue ">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#home">Family Members</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="home" class="tab-pane active"><br><br>
                            <div class="row">
                    <div class="col-lg-12">
                    <h3 style="color:rgba(131, 48, 45, 0.58);">Family Membership Management</h3>
                    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">Clubs</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                                        <thead>
                                        <tr>
                                        <th>Club Name</th>
                                        <th>Status</th>
                                        <!-- <th>Date of Expiry</th>                -->
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {%for r in clubs_list %}
                                        <tr> 
                                        <td align="left">{{ r.club}}</td>
                                        {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                                        {%else%}<td>{{r.status}}</td>{%endif%}
                                        <!-- {%if r.expiry%}<td align="left">{{ r.expiry|date:"Y-m-d"}}</td>
                                        {%else%}<td align="left">None</td>{%endif%} -->
                                        </tr>
                                        {%endfor%}                     
                                    </tbody>
                                    </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
          </div>
        </div>
                    <div style="margin-left: 696px;">
                        <h4>Parent Name: {{parent_name}}</h4>
                        <h4>Staff Id: {{staffid}}</h4>
                    </div>              
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                          <thead>
                            <tr>
                              <th><p style="color: seagreen;">Name</p></th>
                              <th><p style="color: seagreen;">Membership Id</p></th>
                              <th><p style="color: seagreen;">Relationship</p></th>
                              <th><p style="color: seagreen;">Date of Expiry</p></th>  
                              <th><p style="color: seagreen;">Age</p></th>
                              <th><p style="color: seagreen;">Status</p></th>                 
                              <th><p style="color: seagreen;"></p></th>                 
                              <th><p style="color: seagreen;"></p></th>                 
                              <th><p style="color: seagreen;"></p></th>                   
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              {%for r in family_members %}
                              <td align="left"><strong>{{ r.dapendent_first_name1}}</td>
                              <td align="left"><strong>{{ r.family_uid}}</td>
                              <td><strong>{{ r.relationship}}</td>                             
                              {%if r.date_of_expiry%}<td align="left"><strong>{{ r.date_of_expiry|date:"d/m/Y"}}</td>
                              {%else%}<td align="left"><strong>None</td>{%endif%}                 
                              <td align="right"><strong>{{ r.age}}</td>

                               {%if r.status == 'Active'%}<td align="right"><a href="#" data-toggle="modal" data-target="#basicModal">Click to see Clubs</a></td>
                              {%else%}<td align="right"><strong>{{ r.status}}</td>{%endif%}
                              
                              <td><button type="button" class="btn btn-primary center" onclick="return popitup('/familyform/?fid={{r.id}}')">Edit</button><br/>
                              </td>
                              {%if r.status == 'Active'%}<td><button type="button" class="btn btn-primary center" onclick="PrintCard({{r.id}})">Print Card</button><br/>{%endif%}
                              </td>
                              {%if r.status == 'Pending-Crossed-Age 21'%}<td><button type="button" class="btn btn-danger" onClick="suspend({{r.id}})">Cancel</button><br/>
                              </td>{%endif%}

                              {%if r.status == 'Pending-Crossed-Age 21'%}<td><button type="button"  class="btn btn-primary center" onclick="return popitup('/family_suspension/?fid={{r.id}}')">Extend</button><br/>
                              </td>{%endif%}

                              <!-- {%if r.status == 'Cancelled-Age21'%}<td><button type="button"  class="btn btn-success" onclick="return popitup('/family_suspension/?fid={{r.id}}')">Revoke</button><br/>
                              </td>{%endif%} -->              
                              </tr>
                              {%endfor%} 
                              <tr>
                              <td><button type="button"  class="btn btn-primary center" onclick="return popitup('/familyform/?m_id={{mid}}')">Add New</button><br/>
                              </td>
                              </tr>

            </div>

            </div>


        </section>
    </section>
    <!--main content end-->

<!--script for this page-->
<script>

function addNew(id)
{
    var url ='/familyform?m_id='+id;
    window.location.href = url

    // alert(url)
}

function Edit(id)
{
    var url ='/familyform?fid='+id;
    window.location.href = url

    // alert(url)
}

 function PrintCard(id)
{
    var url ='/printcard?fid='+id;
    window.location.href = url
    // alert(url)
}

</script>
<script src="{{STATIC_URL}}js/scripts.js"></script>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script>
$(function(){
    $('#search_members').keyup(function(){

$.ajax({

    type: 'POST',
    url: '/search/',//this is the default though, you don't actually need to always mention it
    data: {
        'search_text' : $('#search_members').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',

    },


    success: searchSuccess,
    dataType: 'html'
    
});
});
});

function searchSuccess(data,textStatus,jqXHR)
{
    $('#search-results').html(data);
}

function view(id)
{
   window.location.href="/common/?mid="+id;
}

function suspend(fid)
{

    var option = swal({   title: "Are you sure?",   text: "Want to Cancel!",   type: "warning",   showCancelButton: true,   confirmButtonColor: "#DD6B55",   confirmButtonText: "Yes, Cancel it!",   closeOnConfirm: false }, function(){  
        var url = "/family_suspension/?fid="+fid+'&sus';
        window.location.href = url
     });
    console.log(option);

   //  url = "/family_suspension/?fid="+fid+'&sus';

   //  // alert(url);
   // window.location.href=url;
   
}


</script>
{%endblock content%}
