<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.html">
    <title>E-Club Membership Management System	</title>
    <!--Core CSS -->
    <link href="{{STATIC_URL}}bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-reset.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/jvector-map/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!--new added-->
    <link href="{{STATIC_URL}}bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-reset.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{STATIC_URL}}assets/bootstrap-switch-master/build/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/bootstrap-datetimepicker/css/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/jquery-multi-select/css/multi-select.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/jquery-tags-input/jquery.tagsinput.css" />

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style-responsive.css" rel="stylesheet" />
    <!--till here-->
    <link href="{{STATIC_URL}}css/clndr.css" rel="stylesheet">
    <!--clock css-->
    <link href="{{STATIC_URL}}assets/css3clock/css/style.css" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/morris-chart/morris.css">
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style-responsive.css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}css/sweet-alert.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/sweet-alert.scss" rel="stylesheet">
</head>
<body>
<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">

            <a href="/index/" class="logo" style="color:white;">
           <center>    E-Club </center> 
            </a>
          <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        
        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" placeholder="Search by Name or by Id..." id="search_members" name="search_members">
                    <ul id="search-results">
                    </ul>
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="{{STATIC_URL}}images/avatar1_small.jpg">
                        <span class="username">{{username}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href='#' onclick="popitup('/reset_self_pwd')"<i class=" fa fa-suitcase"></i>  Change Password</a></li>
                        <li><a href="/settings/"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="/logout/"><i class="fa fa-key"></i> Logout</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
                <!-- <li>
                    <div class="toggle-right-box">
                        <div class="fa fa-bars"></div>
                    </div>
                </li> -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
     <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a  href="/index/">
                        <i class="fa fa-line-chart"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a class="active" href="/members/">
                        <i class="fa fa-users"></i>
                        <span>Members</span>
                    </a>
                   
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file"></i> Reports <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  
                 <li><a href="/reports/">Club Utilization</a></li>
                 <li><a href="/attendancereport/">Attendance</a></li>
                 <li><a href="/newmemberreport/">New Members</a></li>
                 <li><a href="/suspensionreport/">Suspension Reports</a></li>
                 <li><a href="/suspensionrevokereport/">Suspension Revoke Reports</a></li>
                 <li><a href="/renewalreport/">Renewal Reports</a></li>
                 <li><a href="/cancellationreport/">Cancellation Reports</a></li>
                 <li><a href="/nearrenewal/">Near Renewal Reports</a></li>
                 <li><a href="/dependents/">Club's Dependents & Members</a></li>
                  </ul>
                </li>
                <li>
                
                <li>
                    <a href="/membershipform/">
                        <i class="fa fa-user"></i>
                        <span>Add Member </span>
                    </a>
                </li>

                
                <!-- <li class="sub-menu">
                    <a href="form.html">
                        <i class="fa fa-th"></i>
                        <span>Forms</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/membershipform/">membership form</a></li>
                        <li><a href="#"></a></li>
                      
                    </ul> -->
                </li>
                <li class="sub-menu">
                    <a href="/settings/">
                        <i class="fa fa-gears"></i>
                        <span>Settings</span>
                    </a>
                   
                </li>
                <li>
                    <a href="/logout/">
                        <i class="fa fa-sign-out"></i>
                        <span>Signout </span>
                    </a>
                </li>
              
               
               
             
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
<!--sidebar end-->
    <!--main content start-->
    <section id="main-content" >
        <section class="wrapper">
           
            
          

            <div class="row">
           

            <div class="col-lg-12">
            <!--tab nav start-->
            <section class="panel">
                <header class="panel-heading tab-bg-dark-navy-blue ">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#home">View Profile</a>
                        </li>
                          {%if pending_lst%}<li class="">
                            <a data-toggle="tab" href="#about">Approve Membership</a>
                        </li>{%endif%}

                        {%if org != 'QP'%}{%if pending_ren or ren_list%}<li class="">
                            <a data-toggle="tab" href="#contact">Renew Membership</a>
                        </li>{%endif%}{%endif%}
						{%if pend_sus or pend_sus_rev or sus_list or act_list%}<li class="">
                            <a data-toggle="tab" href="#Others">Suspend/Revoke Membership</a>
                        </li>{%endif%}

                        {%if pend_cancel or act_list or inact_list%}<li class="">
                            <a data-toggle="tab" href="#profile">Cancel/Reactivate  Membership</a>
                        </li>{%endif%}

                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="home" class="tab-pane active"><br><br>
                          
                  <div class="col-lg-13">
				  <div class="row">

				  <div class="col-lg-2 text-center">
				  <img src="{{IMAGE_URL}}{{photo}}" height="100px" width="100px"><br/><br/><br/><br/>
     
				  </div>
				  <div class="col-lg-5 text-left">

				  <table class="table table-striped">
				  	
				  	<tr>
				  		<td><strong>Name</strong></td>
				  		<td>:</td>
				  		<td>{{name}}</td>
				  	</tr>

                    <tr>
                        <td><strong>Staff ID</strong></td>
                        <td>:</td>
                        <td>{{member_uid}}</td>
                    </tr>

				  	<tr>
				  		<td><strong>Organization</strong></td>
				  		<td>:</td>
				  		<td>{{organization}}</td>
				  	</tr>
				  	
				  	<tr>
				  		<td><strong>Membership Card Id</strong></td>
				  		<td>:</td>
				  		<td>{{rfidcardno}}</td>
				  	</tr>
				  	
				  	

				  </table>			   
				  </div>
				  <div class="col-lg-5 text-left">
				<table class="table table-striped">
				  	
				  	<tr>
				  		<button type="button" class="btn btn-info" onclick="return popitup('/addclubs/?mid={{id}}')">Add to My Clubs</button>
                    </tr>
                </table>
                </td>
				  		
				  	</tr>
				  </table>				
				  </div>       
                  </div><br/><br/><br/><br/>
				  
				  <!-- Div for last row -->
                </div>
                
                
             
                        </div>
						
						
						
						
						
                        <div id="about" class="tab-pane">
				<div class="row">
				  <div class="col-lg-8 text-center">					
					  <div class="panel-body" style="color: #14AAC7">
						<center><h2>Approve Membership</h2></center>
					  </div>					            
				  </div>
				</div>

                <div class="col-lg-2 text-center">
                  <img src="{{IMAGE_URL}}{{photo}}" height="100px" width="100px" style="margin-top: -72px;"><br/><br/><br/><br/>         
                  </div>

				<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in pending_lst %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=app&c_id={{r.club_id}}')">Approve</button>
                    <button type="button" class="btn btn-success" onclick="reject({{id}},{{r.club_id}},'app')">Reject</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>       
				</div>				
						
			<div id="profile" class="tab-pane">			
             <div class="row">
				  <div class="col-lg-7 text-center">					
					  <div class="panel-body" style="color: #14AAC7">
						<center><h2>User Cancellation</h2></center>
					  </div>					            
				  </div>

				</div>

                <div class="col-lg-2 text-center">
                  <img src="{{IMAGE_URL}}{{photo}}" height="100px" width="100px" style="margin-top: -72px;"><br/><br/><br/><br/>         
                  </div>

				{%if pend_cancel%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in pend_cancel %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                     <td> <button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=can&c_id={{r.club_id}}')">Cancel Membership</button>
                    <button type="button" class="btn btn-success" onclick="reject({{id}},{{r.club_id}},'can')">Reject</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table> {%endif%}

                {%if act_list%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in act_list %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=can&c_id={{r.club_id}}')">Cancel Membership</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table> {%endif%}


                {%if inact_list%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in inact_list %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    <td>{{r.status}}</td>
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-success" onclick="return popitup('/clubslist/?mid={{id}}&action=act&c_id={{r.club_id}}')">Reactivate</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table> {%endif%} 


                {%if pend_react%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in pend_react%}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    <td>{{r.status}}</td>
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-success" onclick="return popitup('/clubslist/?mid={{id}}&action=act&c_id={{r.club_id}}')">Reactivate</button>
                    <button type="button" class="btn btn-danger" onclick="reject({{id}},{{r.club_id}},'act')">Reject</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table> {%endif%}  

			</div>


            <div id="contact" class="tab-pane"> 
			  <div class="row">
				  <div class="col-lg-7 text-center">					
					  <div class="panel-body" style="color: #14AAC7">
						<center><h2>Renew Membership</h2></center>
					  </div>					            
				  </div>
				</div>

                 <div class="col-lg-2 text-center">
                  <img src="{{IMAGE_URL}}{{photo}}" height="100px" width="100px" style="margin-top: -72px;"><br/><br/><br/><br/>         
                  </div>

				{%if pending_ren%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in pending_ren %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=ren&c_id={{r.club_id}}')">Renew</button>
                    <button type="button" class="btn btn-success" onclick="reject({{id}},{{r.club_id}},'ren')">Reject</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>{%endif%}

                {%if act_list%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in act_list %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=ren&c_id={{r.club_id}}')">Renew</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>{%endif%}

                  
		  </div>

		<div id="Others" class="tab-pane">
						 
			 <div class="row">
				  <div class="col-lg-7 text-center">					
					  <div class="panel-body" style="color: #14AAC7">
						<center><h2>User Suspension</h2></center>
					  </div>					            
				  </div>
				</div>
				<div class="col-lg-2 text-center">
				  <img src="{{IMAGE_URL}}{{photo}}" height="100px" width="100px" style="margin-top: -72px;"><br/><br/><br/><br/>         
				  </div>
                {%if pend_sus%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in pend_sus %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=sus&c_id={{r.club_id}}')">Suspend</button>
                    <button type="button" class="btn btn-success" onclick="reject({{id}},{{r.club_id}},'sus')">Reject</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>{%endif%}

               {%if sus_list%} <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in sus_list %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=rev&c_id={{r.club_id}}')">Revoke</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>{%endif%}

                {%if pend_sus_rev%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in pend_sus_rev %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=rev&c_id={{r.club_id}}')">Revoke</button>
                    <button type="button" class="btn btn-success" onclick="reject({{id}},{{r.club_id}},'rev')">Reject</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>{%endif%}

                {%if act_list%}<table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Club Name</th>
                    <th>Status</th>
                    <!-- <th>Date of Expiry</th> -->
                    <th>Action</th>             
                  </tr>
                </thead>
                <tbody>
                    {%for r in act_list %}
                    <tr> 
                    <td>{{ r.club.name}}</td>
                    {%if r.status == 'Active'%}<td style="color:green;">{{r.status}}</td>
                    {%else%}<td>{{r.status}}</td>{%endif%}
                    <!-- <td >{{ r.expiry|date:"Y-m-d"}}</td> -->
                    <td><button class="btn btn-danger" onclick="return popitup('/clubslist/?mid={{id}}&action=sus&c_id={{r.club_id}}')">Suspend</button>
                    </td>

                    </tr>
                    {%endfor%}                     
                </tbody>
                </table>{%endif%}
            </section>
            </div>

            </div>


        </section>
    </section>
    <!--main content end-->
<!--right sidebar start-->
<div class="right-sidebar">
<div class="search-row">
    <input type="text" placeholder="Search" class="form-control">
</div>
<ul class="right-side-accordion">
<li class="widget-collapsible">
    <a href="#" class="head widget-head red-bg active clearfix">
        <span class="pull-left">E-CLUB</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>Total Members</h4>
                   <p>{{count}}</p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell">
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info">
                    <h4>qp</h4>
                    <p>56
                        
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="p-delivery">
                        <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info payment-info">
                    <h4>Non QP</h4>
                    <p>
                        56
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="p-collection">
						<span class="pc-epie-chart" data-percent="45">
						<span class="percent"></span>
						</span>
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info">
                    <h4>Total Clubs</h4>
                    <p>
                        65
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="d-pending">
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="col-md-12">
                    <h4>Approval Pending</h4>
                    <p>
                       {{pending_members}}
                    </p>
                    <div class="progress progress-xs mtop10">
                        <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
			<div class="prog-row side-mini-stat">
                <div class="col-md-12">
                    <h4>New Members</h4>
                    <p>
                       {{new_members}}
                    </p>
                    <div class="progress progress-xs mtop10">
                        <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
			
			
			
			
        </li>
    </ul>
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head terques-bg active clearfix">
        <span class="pull-left">contact online (5)</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="{{STATIC_URL}}images/avatar1_small.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">e - club 1</a></h4>
                    <p>
                        Work for fun
                    </p>
                </div>
                <div class="user-status text-danger">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="{{STATIC_URL}}images/avatar1.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">e - club 2</a></h4>
                    <p>
                        Available
                    </p>
                </div>
                <div class="user-status text-success">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="{{STATIC_URL}}images/chat-avatar2.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">e - club 3</a></h4>
                    <p>
                        Away from Desk
                    </p>
                </div>
                <div class="user-status text-warning">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="{{STATIC_URL}}images/avatar1_small.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">e - club 4</a></h4>
                    <p>
                        working
                    </p>
                </div>
                <div class="user-status text-info">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="{{STATIC_URL}}images/avatar1.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">e - club 5</a></h4>
                    <p>
                        Work for fun
                    </p>
                </div>
                <div class="user-status text-danger">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <p class="text-center">
                <a href="#" class="view-btn">View all Contacts</a>
            </p>
        </li>
    </ul>
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head purple-bg active">
        <span class="pull-left"> recent activity (3)</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row">
                <div class="user-thumb rsn-activity">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="rsn-details ">
                    <p class="text-muted">
                        just now
                    </p>
                    <p>
                        <a href="#">E- Club</a>Purchased new equipments for zonal office setup
                    </p>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb rsn-activity">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="rsn-details ">
                    <p class="text-muted">
                        2 min ago
                    </p>
                    <p>
                        <a href="#">E-club </a>Purchased new equipments for zonal office setup
                    </p>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb rsn-activity">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="rsn-details ">
                    <p class="text-muted">
                        1 day ago
                    </p>
                    <p>
                        <a href="#">E-club</a>Purchased new equipments for zonal office setup
                    </p>
                </div>
            </div>
        </li>
    </ul>
</li>

</ul>
</div>


<!--right sidebar end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<!--Core js-->
<script src="{{STATIC_URL}}js/lib/jquery.js"></script>
<script src="{{STATIC_URL}}assets/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="{{STATIC_URL}}bs3/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/accordion-menu/jquery.dcjqaccordion.2.7.js"></script>
<script src="{{STATIC_URL}}js/scrollTo/jquery.scrollTo.min.js"></script>
<script src="{{STATIC_URL}}js/nicescroll/jquery.nicescroll.js" type="text/javascript"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->

<script src="{{STATIC_URL}}js/dashboard.js"></script>
<script src="{{STATIC_URL}}js/custom-select/jquery.customSelect.min.js" ></script>
<!--common script init for all pages-->
<script src="{{STATIC_URL}}js/scripts.js"></script>
<!-- <script src="{{STATIC_URL}}js/scripts.js"></script> -->
<script src="{{STATIC_URL}}js/jquery.min.js"></script>

<script src="{{STATIC_URL}}js/sweet-alert.min.js" ></script>
<!-- <script src="{{STATIC_URL}}js/custom-select/jquery.customSelect.min.js" ></script> -->
<!--common script init for all pages-->

<script src="{{STATIC_URL}}js/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

<!-- <script src="{{STATIC_URL}}js/jquery.min.js"></script> -->
<script>

function popitup(url) {
    var w = 700;
    var h = 500;
    var left = Number((screen.width/2)-(w/2));
    var tops = Number((screen.height/2)-(h/2));

    newwindow=window.open(url,'{{title}}','resizable=yes,height=500,width=700,scrollbars=yes,top='+tops+', left='+left);
    if (window.focus) {newwindow.focus()}
    return false;
}


$(function(){
    $('#search_members').keyup(function(){

$.ajax({

    type: 'POST',
    url: '/search/',//this is the default though, you don't actually need to always mention it
    data: {
        'search_text' : $('#search_members').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',

    },


    success: searchSuccess,
    dataType: 'html'
    
});
});
});

function searchSuccess(data,textStatus,jqXHR)
{
    $('#search-results').html(data);
}

function view(id)
{
   window.location.href="/common/?mid="+id;
}
</script>

<script>


$(function() {
        var myDate = new Date();
        var prettyDate =myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate();
        var next_year = myDate.getFullYear()+1;

        var prettyDate1 = next_year + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate();
        // alert(prettyDate1)
$( "#frm_date1" ).datepicker();
$( "#frm_date1" ).val(prettyDate);
$( "#to_date1" ).datepicker();
$( "#to_date1" ).val(prettyDate1);
$( "#app_date1" ).datepicker();
$( "#app_date1" ).val(prettyDate);
$( "#app_date2" ).datepicker();
$( "#app_date2" ).val(prettyDate1);
$( "#ren_date1" ).datepicker();
$( "#ren_date1" ).val(prettyDate);
$( "#ren_date2" ).datepicker();
$( "#ren_date2" ).val(prettyDate1);
$( "#sus_date1" ).datepicker();
$( "#sus_date1" ).val(prettyDate);
$( "#sus_date2" ).datepicker();
$( "#sus_date2" ).val(prettyDate1);
});

function Approve(id)
{

    var date1 = document.getElementById('app_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('app_date2'),
    t_date = date2.value;

     if((f_date == "") || (t_date == ""))
    {
        alert('Please Enter Dates!');
        return False;
    }

    var url ='/membershipform?mid=' +id+'&app'+'&d1='+f_date+'&d2='+t_date;;
    window.location.href = url

    // alert(url)
}

function Cancel(id)
{
    
    var input = document.getElementById('reason'),
    reason = input.value;
    var date1 = document.getElementById('frm_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('to_date1'),
    t_date = date2.value;

     if((f_date == "") || (t_date == ""))
    {
        alert('Please Enter Dates!');
        return False;
    }

    var url ='/membershipform?mid='+id+'&can'+'&r='+reason+'&d1='+f_date+'&d2='+t_date;
    window.location.href = url

    // alert(url)
}

function Reject(id)
{
    var input = document.getElementById('reason'),
    reason = input.value;

    var date1 = document.getElementById('frm_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('to_date1'),
    t_date = date2.value;

    var date1 = document.getElementById('sus_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('sus_date2'),
    t_date = date2.value;

    //  if((f_date == "") || (t_date == ""))
    // {
    //     alert('Please Enter Dates!');
    //     return False;
    // }
	
	var url ='/membershipform?mid=' +id+'&app'+'&d1='+f_date+'&d2='+t_date;
    window.location.href = url
	
}	

function Renewal(id)
{

    var date1 = document.getElementById('ren_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('ren_date2'),
    t_date = date2.value;

     if((f_date == "") || (t_date == ""))
    {
        alert('Please Enter Dates!');
        return False;
    }

    var url ='/membershipform?mid='+id+'&ren'+'&d1='+f_date+'&d2='+t_date;;
    window.location.href = url

    // alert(url)
}

function Suspend(id)
{
    var input = document.getElementById('sus_reason'),
    reason = input.value;

    var date1 = document.getElementById('sus_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('sus_date2'),
    t_date = date2.value;
    if((f_date == "") || (t_date == ""))
    {
        alert('Please Enter Dates!');
        return False;
    }
    // alert(f_date);
    var url ='/membershipform?mid='+id+'&sus'+'&r='+reason+'&d1='+f_date+'&d2='+t_date;;;
    window.location.href = url

    // alert(url)
}

function Revoke(id)
{

    var date1 = document.getElementById('ren_date1'),
    f_date = date1.value;

    var date2 = document.getElementById('ren_date2'),
    t_date = date2.value;

     if((f_date == "") || (t_date == ""))
    {
        alert('Please Enter Dates!');
        return False;
    }

    var url ='/membershipform?mid='+id+'&rev'+'&d1='+f_date+'&d2='+t_date;;
    window.location.href = url

    // alert(url)
}

 function PrintCard(id)
{
    var url ='/printcard?id='+id;
    window.location.href = url
    // alert(url)
}

function Save(id)
{
    var url ='/membershipform?mid='+id+'&sus';
    window.location.href = url

    // alert(url)
}


function Family(id)
{
    var url ='/familyform?mid='+id;
    window.location.href = url

    // alert(url)
}


function edit(id)
{
   //alert(id)
   window.location.href="/membershipform/?emid="+id;
}


function reject(mid,cid,action)
{

    if (cid == "can")
    {
        var url = '/reject?mid='+mid+'&action='+cid;
    }

    else
    {
        var url ='/reject?mid='+mid+'&cid='+cid+'&action='+action;
    }
    // window.location.href = url
    // alert(url);

    var option = swal({   title: "Are you sure?",   text: "Want to Cancel!",   type: "warning",   showCancelButton: true,   confirmButtonColor: "#DD6B55",   confirmButtonText: "Proceed",   closeOnConfirm: false }, function(){  
        // var url ='/reject?mid='+mid+'&cid='+cid+'&action='+action;
        window.location.href = url
     });
    console.log(option);
}


</script>
</body>
</html>